.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0px 4vw;
}

h3 {
  font-weight: 300;
}

.horizontal-line {
  height: 1px;
  background-color: gray;
}

.vertical-line {
  width: 1px;
  background-color: gray;
}
