.flex-container {
  display: flex;
  flex-direction: row;
  height: 400px;
}

p {
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-weight: bold;
  font-size: 18px;
}

li {
  margin: 20px 0;
  font-weight: bold;
  font-size: 18px;
}

ol:first-of-type {
  width: 49.5%;
}

ol {
  width: 50%;
  overflow: auto;
}

input {
  border: 0px;
  margin: 0 10px;
  font-size: 16px;
}

input:focus {
  box-sizing: border-box;
  border: 1px solid rgb(147, 200, 250);
  box-shadow: 0px 0px 8px 0px rgb(147, 200, 250);
}

.flex-container > .vertical-line {
  width: 1px;
  background-color: gray;
  overflow: auto;
}
